body {
    font-family: 'Roboto','Arial',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    color: #323232;
    background-color: #849d8f
}

.breadcrumbs__link:active,.breadcrumbs__link:hover,footer a:active,footer a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.3)
}

.user-block__hvr-link:active,.user-block__hvr-link:hover {
    color: #e84d37
}

.form-input:hover {
    box-shadow: inset 0 0 0 2px rgba(154,154,154,.52)
}

.form-input:focus {
    box-shadow: inset 0 0 0 2px rgba(46,136,228,.52)
}

.form-textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 14px 0;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(178,178,178,.52)
}

.form-textarea:hover {
    box-shadow: inset 0 0 0 2px rgba(154,154,154,.52)
}

.form-textarea:focus {
    box-shadow: inset 0 0 0 2px rgba(46,136,228,.52)
}

footer a {
    display: inline;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.btn {
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    background-color: #fff;
    background-image: linear-gradient(to bottom,#f26843,#e74b36);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
    text-shadow: 0 2px 5px rgba(160,32,11,.76)
}

.btn:hover {
    background-image: linear-gradient(to bottom,rgba(242,104,67,.8),rgba(231,75,54,.8))
}

.btn:active {
    background-image: linear-gradient(to bottom,#e74b36,#f26843);
    box-shadow: inset 0 2px 2px 0 rgba(172,16,0,.64)
}

.clearfix::after {
    display: table;
    clear: both;
    content: ''
}

.site-wrapper {
    background-repeat: no-repeat;
    background-position: top center
}

.content-wrapper {
    min-width: 860px;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 2.3%
}

.same-cont {
    width: 48.9%;
    border-radius: 16px
}

.same-cont--left {
    float: left
}

.same-cont--right {
    float: right
}

.page-header {
    position: relative
}

.main-logo {
    position: absolute;
    z-index: 11;
    top: 9px;
    left: -6px
}

.main-nav {
    float: left;
    margin: 23px 0 0 163px;
    padding: 0;
    vertical-align: top
}

.main-nav__list {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none
}

.main-nav__item {
    display: inline-block;
    vertical-align: top
}

.main-nav__item--catalog {
    position: relative;
    padding-bottom: 5px
}

.main-nav__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    display: block;
    padding: 7px 14px;
    text-decoration: none;
    color: #f7f8f8;
    border-radius: 16px
}

.main-nav__item:hover .main-nav__link {
    color: #323232;
    background-color: #f7f6f3
}

.main-nav__link:active {
    color: #323232;
    background-color: #ededed;
    box-shadow: inset 0 1px 2px 0 #696969
}

.main-nav__item--catalog:hover .main-nav__dropdown-list {
    z-index: 1;
    display: block
}

.main-nav__dropdown-list {
    position: absolute;
    top: 32px;
    left: -6px;
    display: none;
    overflow: hidden;
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    background: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4)
}

.main-nav__dropdown-item {
    margin: 0;
    padding: 0
}

.main-nav__dropdown-item--new {
    position: relative;
    margin-bottom: 1px
}

.main-nav__dropdown-item--new::after {
    position: absolute;
    bottom: -1px;
    width: 90%;
    height: 1px;
    margin: 0 5%;
    content: '';
    background: #ebeae7
}

.main-nav__dropdown-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    padding: 8px 20px;
    white-space: nowrap;
    text-decoration: none;
    color: #323232
}

.main-nav__dropdown-link--new {
    font-weight: 700
}

.main-nav__dropdown-link:hover {
    background-color: #fbded8
}

.main-nav__dropdown-link:active {
    background-color: #f6b5a5
}

.main-nav__dropdown-link.active,.main-nav__link.active {
    color: #f7f8f8;
    background-color: #d07058
}

.user-block {
    float: right;
    margin-top: 23px
}

.user-block__list {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none
}

.user-block__item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 6px;
    vertical-align: top
}

.user-block__item--search {
    margin: 0;
    padding-left: 20px
}

.search-form__submit,input[type=radio] {
    display: none
}

.user-block__link {
    font-size: 14px;
    line-height: 16px;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 16px;
    background-color: rgba(255,255,255,.2)
}

.filter__item--sort option,.filter__item--sort select:hover,.user-block__item:hover .user-block__link {
    color: #323232;
    background-color: #fff
}

.user-block__link--search {
    width: 16px;
    height: 16px;
    background-image: url(../img/lens.svg);
    background-repeat: no-repeat;
    background-position: center
}

.user-block__item--search:hover .user-block__link--search {
    background-image: url(../img/hvr-lens.svg)
}

.user-block__item--cart:hover .user-block__link--cart,.user-block__item--login:hover .user-block__link--login {
    background-image: url(../img/hvr-login.svg)
}

.user-block__link--cart,.user-block__link--login {
    padding-right: 17px;
    padding-left: 44px;
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: 16px center
}

.user-block__link--cart {
    padding-right: 34px;
    background-image: url(../img/cart.svg)
}

.user-block__list--cart:hover .user-block__link--cart {
    background-image: url(../img/hvr-cart.svg)
}

.user-block__hvr--cart {
    display: none;
    width: 510px
}

.form-cart__list {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    list-style: none
}

.form-cart__list::after {
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #ccccc9
}

.form-cart__item {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    vertical-align: middle
}

.form-cart__item-content {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #323232
}

.form-cart__item-img {
    position: relative;
    margin-left: 21px;
    border-radius: 50%
}

.form-cart__item::before {
    position: absolute;
    z-index: 50;
    top: 10px;
    left: 0;
    display: block;
    width: 11px;
    height: 11px;
    content: '';
    cursor: pointer;
    background: url(../img/close-btn.svg) no-repeat center;
    background-size: contain
}

.form-cart__item-item {
    width: 221px;
    padding: 0 13px
}

.form-cart__item-quantity {
    width: 110px;
    padding: 0 5px;
    text-align: center
}

.form-cart__item-price {
    width: 64px;
    text-align: right
}

.form-cart__result {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    padding: 15px 0;
    text-align: right
}

.form-cart__btn {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 16px;
    border-radius: 22px
}

.form-cart__submit {
    text-align: right
}

.user-block__hvr {
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    z-index: 2;
    top: 37px;
    right: 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4)
}

.user-block__hvr--login {
    display: none;
    width: 241px
}

.user-block__item--cart:hover .user-block__hvr--cart,.user-block__item--login:hover .user-block__hvr--login,.user-block__item--search:hover .user-block__hvr--search {
    display: block
}

.user-block__hvr--search {
    position: absolute;
    display: none;
    width: 311px
}

.user-block__hvr-list {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none
}

.user-block__hvr-item {
    margin-bottom: 5px;
    padding: 0
}

.user-block__hvr-link {
    font-size: 13px;
    line-height: 16px;
    display: block;
    vertical-align: top;
    color: #323232
}

.input-btn {
    padding: 10px 26px;
    border-radius: 22px
}

.user-block__hvr--login input[type=password],.user-block__hvr--login input[type=text] {
    margin-bottom: 20px
}

.header-info {
    position: absolute;
    z-index: 1;
    top: 73px;
    right: 0;
    text-align: right
}

.header-info__worktime {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    color: #fff
}

.header-info__tel {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #fff
}

.slider {
    position: relative;
    margin-bottom: 42px;
    text-align: center;
    color: #fff
}

.slide__tittle {
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;
    width: 700px;
    margin: 0 auto;
    padding-top: 332px
}

.slide__btn {
    font-size: 32px;
    line-height: 64px;
    margin-top: 29px;
    padding: 0 40px;
    border-radius: 32px
}

.slider__controls {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 22px;
    left: 0
}

.slider label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    cursor: pointer;
    vertical-align: top;
    border: 2px solid #fff;
    border-radius: 50%
}

.slider label:hover {
    background-color: rgba(255,255,255,.4)
}

.slide {
    display: none
}

.slider__radio--1:checked~.site-wrapper .slide--1,.slider__radio--2:checked~.site-wrapper .slide--2,.slider__radio--3:checked~.site-wrapper .slide--3 {
    display: block
}

.slider__radio--1:checked~.site-wrapper label[for=btn-1],.slider__radio--2:checked~.site-wrapper label[for=btn-2],.slider__radio--3:checked~.site-wrapper label[for=btn-3] {
    border-color: #fff;
    background: #fff
}

.slider__radio--1:checked~.site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/bg-icecream-1.png)
}

.slider__radio--2:checked~.site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/bg-icecream-2.png)
}

.slider__radio--3:checked~.site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/bg-icecream-3.png)
}

.banners {
    margin-bottom: 40px
}

.banners__item {
    font-weight: 700;
    position: relative;
    min-height: 169px;
    padding-bottom: 60px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover
}

.banners__item-left {
    background-color: #701125;
    background-image: url(../img/bg-banners-left.jpg)
}

.banners__item-right {
    background-color: #3f2519;
    background-image: url(../img/bg-banners-right.jpg)
}

.banners__inner {
    padding: 16px 19px
}

.banners__title {
    font-size: 35px;
    line-height: 41px;
    margin: 0 0 14px
}

.banners__text {
    font-size: 18px;
    font-weight: 22px;
    display: block
}

.banners_btn {
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    right: 23px;
    bottom: 22px;
    padding: 11px 22px;
    border-radius: 23px
}

.catalog,.hits {
    font-size: 0
}

.catalog__item {
    position: relative;
    display: inline-block;
    width: 23.35%;
    margin-right: 2.2%;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: top
}

.catalog__item:nth-child(4n) {
    margin-right: 0
}

.catalog__image {
    position: relative;
    min-height: 200px
}

.catalog__image img {
    width: 100%;
    border-radius: 50%
}

.catalog__label-img {
    width: 61px;
    height: 61px
}

.catalog__label {
    position: absolute;
    top: 0
}

.catalog__price {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    position: absolute;
    bottom: 19px;
    color: #fff
}

.catalog__price span {
    font-size: 30px;
    position: relative;
    display: inline-block;
    margin-left: 36px
}

.catalog__price span::after {
    position: absolute;
    bottom: 9px;
    left: -33px;
    display: block;
    width: 31px;
    height: 36px;
    content: '';
    background-image: url(../img/rur.svg);
    background-repeat: no-repeat;
    background-position: 0 0
}

.catalog__text {
    position: relative;
    padding: 0 5px;
    vertical-align: top
}

.catalog__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    display: inline;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.catalog__overlay {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -70px;
    left: -10px;
    display: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,.3);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.4)
}

.catalog__btn {
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin: 0 auto 0 -102.5px;
    padding: 10px 18px;
    border-radius: 22px
}

.catalog__item:hover .catalog__overlay {
    z-index: 1;
    display: block
}

.catalog__item:hover .catalog__image,.catalog__item:hover .catalog__link,.catalog__item:hover .catalog__text {
    z-index: 2;
    border: none
}

.catalog__item .catalog__link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.3)
}

.seo {
    margin-bottom: 40px;
    padding-top: 24px;
    padding-left: 19px;
    border-radius: 15px;
    background-color: #eaddc1;
    background-image: url(../img/bg-seo.jpg)
}

.seo__title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 23px;
    padding-right: 28px;
    color: #323232
}

.seo__item {
    font-size: 16px;
    line-height: 22px;
    float: left;
    width: 50%
}

.seo_text {
    position: relative;
    min-height: 30px;
    margin: 0 0 21px;
    padding-right: 23px;
    padding-left: 58px
}

.seo_text img {
    position: absolute;
    top: -12px;
    left: 2px;
    width: 47px;
    height: 47px
}

.news-delivery-wrap {
    margin-bottom: 40px
}

.news {
    min-height: 180px;
    padding-bottom: 40px;
    background-color: #fff;
    background-image: url(../img/bg-news.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.news__title {
    font-size: 16px;
    line-height: 22px;
    margin: 23px 0 5px;
    padding-left: 19px;
    color: #323232
}

.news__list {
    margin: 0;
    padding-left: 19px;
    list-style: none
}

.news__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    color: #323232;
    border-bottom: 1px solid rgba(50,50,50,.3)
}

.news__link:active,.news__link:hover {
    color: #e84d37;
    border-bottom: 1px solid rgba(232,77,55,.3)
}

.delivery {
    overflow: hidden;
    height: 220px;
    background-image: repeating-linear-gradient(-45deg,#f8f7f4,#f8f7f4 5px,#94ceff 5px,#94ceff 10px,#f8f7f4 10px,#f8f7f4 15px,#fe9e90 15px,#fe9e90 20px)
}

.delivery_container {
    position: relative;
    min-height: 110px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 22px;
    border: 5px solid transparent;
    border-radius: 15px;
    background-color: #f8f7f4;
    background-clip: padding-box
}

.delivery__form {
    position: absolute;
    bottom: 35px;
    width: 100%
}

.delivery__emailfield {
    display: block
}

.delivery__text {
    font-size: 16px;
    line-height: 22px;
    margin: 28px 0 0;
    color: #5a5a5a
}

.delivery__form-content {
    position: relative;
    margin-right: 183px
}

.form-input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 14px;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(178,178,178,.52)
}

.delivery__btn {
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: 0;
    right: -140px;
    padding: 10px 19px;
    border-radius: 22px
}

.map {
    position: relative;
    min-width: 900px;
    max-width: 1200px;
    height: 430px;
    margin: 0 auto;
    background-color: #dfe0cf;
    background-image: url(../img/bg-map.jpg);
    background-repeat: no-repeat;
    background-position: center
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px)
    }

    70% {
        transform: translateY(30px)
    }

    90% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}

.feedback__overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5)
}

.feedback {
    position: fixed;
    z-index: 100;
    top: 150px;
    left: 50%;
    display: none;
    width: 428px;
    margin-left: -224px;
    padding: 25px;
    border-radius: 10px;
    background-color: #f8f7f4
}

.feedback input[type=text] {
    width: 62%
}

.feedback-show,.feedback__overlay-show {
    display: block;
    animation: bounce .8s
}

.feedback__close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 17px;
    height: 17px;
    content: '';
    cursor: pointer;
    background: url(../img/close-btn.svg) no-repeat center
}

.feedback__title {
    font-size: 24px;
    line-height: 28px
}

.feedback .form-input,.feedback .form-textarea,.feedback__title {
    margin-bottom: 20px
}

.feedback .input-btn {
    float: right
}

.address-block {
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    right: 26px;
    bottom: 64px;
    padding: 30px 25px;
    color: #323232;
    border-radius: 14px;
    background-color: #fffefe
}

.address-block__text {
    margin-bottom: 0
}

.address-block__tel,.address-block__text b {
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-top: 1px;
    margin-bottom: 18px
}

.address-block__tel {
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-decoration: none;
    color: #323232
}

.adderess-block_btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
    padding: 10px 28px;
    border-radius: 22px
}

.main-footer {
    font-size: 0;
    line-height: 0;
    min-height: 103px
}

.main-footer__item {
    display: inline-block;
    vertical-align: top
}

.main-footer__item--social {
    width: 25%;
    padding-top: 35px
}

.main-footer__item--menu {
    width: 50%;
    padding-top: 32px;
    text-align: center
}

.main-footer__item--made-in {
    width: 25%;
    padding-top: 18px;
    text-align: right
}

.social__list {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none
}

.social__item {
    display: inline-block;
    margin-right: 11px
}

.social__link {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    opacity: .8;
    border: 4px solid rgba(255,255,255,.5);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box
}

.social__link:hover {
    opacity: 1;
    border: 4px solid rgba(255,255,255,.7)
}

.social__link:active {
    opacity: .8;
    box-shadow: inset 0 1px 2px 0 #9b9b9b
}

.social__link--tw {
    background-image: url(../img/tw.svg)
}

.social__link--insta {
    background-image: url(../img/insta.svg)
}

.social__link--fb {
    background-image: url(../img/fb.svg)
}

.social__link--vk {
    background-image: url(../img/vk.svg)
}

.menu__list {
    font-size: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    vertical-align: top
}

.menu__list--left {
    margin-right: 28px
}

.menu__item {
    margin: 0 0 4px;
    padding: 0
}

.madein__link a,.menu__link {
    font-size: 13px;
    line-height: 18px;
    display: inline;
    text-decoration: none;
    color: #fff
}

.menu__link--dest {
    font-weight: 700;
    position: relative
}

.menu__link--dest::before {
    position: absolute;
    top: 0;
    left: -21px;
    width: 15px;
    height: 13px;
    content: '';
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center
}

.madein__link {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    padding-top: 43px;
    text-decoration: none;
    color: #fff
}

.madein__logo {
    position: absolute;
    top: 0;
    left: 9px
}

.user-block__link--cart-full {
    padding-right: 16px;
    color: #313131;
    background-color: #f7f6f3
}

.user-block__item--cart-full:hover .user-block__link--cart-full,.user-block__link--cart-full {
    background-image: url(../img/cart-full.png)
}

.breadcrumbs {
    margin-bottom: -2px;
    padding-top: 38px
}

.breadcrumbs__list {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: 0
}

.breadcrumbs__item {
    display: inline-block;
    margin-right: 6px;
    padding: 0;
    vertical-align: top
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 16px;
    display: inline;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.breadcrumbs__item span {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin-left: 8px;
    color: #fff
}

.page__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    margin: 0 0 24px;
    padding: 0;
    color: #fff
}

.filters {
    font-size: 0;
    line-height: 0;
    margin-bottom: 21px;
    color: #fff
}

.filter__item {
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 14px;
    vertical-align: top
}

.filter__title {
    font-size: 14px;
    line-height: 16px;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: 15px
}

.filter__content {
    font-size: 16px;
    line-height: 18px;
    border-radius: 18px;
    background-color: rgba(255,255,255,.2)
}

.filter__item--sort {
    width: 194px
}

.filter__content--sort select {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border: none;
    border-radius: 18px;
    outline: none;
    background-color: rgba(255,255,255,.2)
}

.filter__item--sort option:hover {
    color: #fff;
    background-color: #323232
}

.filter__item--range {
    width: 220px
}

.filter__title--range {
    font-size: 0;
    line-height: 0
}

.filter__title--range-title {
    vertical-align: top
}

.filter__title--range label,.filter__title--range-title {
    font-size: 14px;
    line-height: 16px;
    display: inline-block
}

.filter__title--range input[type=text] {
    line-height: 16px;
    width: 35px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    border: none;
    outline: none;
    background-color: transparent
}

.filter__range-controls {
    position: relative;
    width: 190px;
    height: 4px;
    padding: 16px 15px;
    border-radius: 18px;
    background-color: rgba(255,255,255,.2)
}

.filter__range-scale {
    height: 2px;
    background-color: rgba(255,255,255,.5)
}

.filter__range-bar {
    height: 2px;
    margin-right: 59px;
    margin-left: 19px;
    background-color: #f8f7f4
}

.filter__range-toggle {
    position: absolute;
    top: 6px;
    width: 2px;
    height: 2px;
    cursor: pointer;
    border: 10px solid #f8f7f4;
    border-radius: 50%;
    background-color: #f8f7f4;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1)
}

.filter__range-toggle--min {
    left: 34px
}

.filter__range-toggle--max {
    left: 155px
}

.filter__item--fatness {
    max-width: 415px
}

.filter__content--fatness {
    font-size: 0;
    line-height: 0;
    padding: 0 15px
}

.filter__content label {
    font-size: 16px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    margin-right: 19px;
    padding: 9px 0 9px 31px;
    cursor: pointer;
    vertical-align: top
}

.filter__content label:last-of-type {
    margin-right: 0
}

.filter__radio-box:before {
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 4px;
    content: '';
    border: 1px solid #fff;
    border-radius: 50%
}

.filter__check-box:hover::before,.filter__radio-box:hover::before {
    border: 2px solid #fff
}

.filter__radio:checked+.filter__radio-box::before {
    background-color: #fff;
    background-clip: content-box
}

.filter__radio:checked+.filter__radio-box:hover::before {
    padding: 3px;
    border: 2px solid #fff
}

.filter__radio:disabled+.filter__radio-box::before {
    border: 1px solid rgba(255,255,255,.5)
}

.filter__radio:disabled+.filter__radio-box {
    color: rgba(255,255,255,.5)
}

.filter__item--fillers {
    max-width: 705px
}

.filter__content--fillers {
    font-size: 0;
    line-height: 0;
    padding: 0 15px
}

.filter__check-box {
    margin-left: 5px
}

.filter__check {
    display: none
}

.filter__check-box::before {
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #fff;
    border-radius: 4px;
    background-origin: border-box
}

.filter__check:checked+.filter__check-box::before {
    border: none;
    background-image: url(../img/checkmarkon.svg)
}

.filter__check:checked+.filter__check-box:hover::before {
    border: 2px solid #fff
}

.filter__check:disabled+.filter__check-box::before,.filter__check:disabled+.filter__check-box:hover::before {
    opacity: .4;
    border: 1px solid #fff
}

.filter__check:disabled+.filter__check-box {
    color: rgba(255,255,255,.4)
}

.filter__item--btn {
    width: 144px;
    margin-top: 25px
}

.filter__btn {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    height: 36px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 18px;
    background-color: rgba(255,255,255,.2)
}

.filter__btn:hover {
    color: #323232;
    background-color: #fbfcfb
}

.filter__btn:active {
    color: #323232;
    border: none;
    outline: none;
    box-shadow: inset 0 1px 2px 0 #696969
}

.paginator {
    text-align: right
}

.paginator::after {
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: rgba(255,255,255,.3)
}

.paginator__list {
    display: inline-block;
    margin: 0;
    padding: 0 23px 30px;
    list-style: none
}

.paginator__item {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: top
}

.paginator__arrow {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat
}

.paginator__arrow--prew {
    background-position: 3px -23px
}

.paginator__arrow--next {
    background-position: 6px 1px
}

.paginator__arrow.endlist {
    cursor: default;
    opacity: .4
}

.paginator__item:hover .paginator__link {
    color: #fff;
    background-color: rgba(255,255,255,.2)
}

.paginator__item:active .paginator__link {
    color: #000;
    background-color: #fff
}

.paginator__link {
    font-size: 16px;
    line-height: 26px;
    display: block;
    width: 26px;
    height: 26px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%
}
